<!DOCTYPE html>

<html>

    <head>
        <title>careers</title>
    </head>

    <body>
        <h1>Hello mate search for careers here !</h1>  
       
        <h2 class = 'text-center mt-2 mb-4'>OPEN POSTIONS</h2>
        
        <div>
            
            {%for job in jobs%}
                
                <h4>
                    {{job['title']}}
                </h4>
                
                <div>
                    <b>location:</b>{{job['location']}}
                </div>

                <div>
                    <b>salary:</b>{{job['salary']}}
                </div>
                
                <div>
                    <button>Apply</button>
                </div>
            
            
            {% endfor %}

        </div>
     
    </body>

</html>